<%- include('./partials/header') %>
<div class="container">
    <div class="error-handler">
        <div class="alert alert-info" role="alert">
            <p class="display-1"><%= count %> views</p>
        </div>
    </div>
</div>
<%- include('./partials/footer') %>
